@inherits LayoutComponentBase
<div class="page" >
    <div class="sidebar mb-3">
        <NavMenu />
    </div>



    <main class="container-sm">
        <!-- Pills -->
        <div class="mb-4">
            <WorkTimeCalc.Components.NavPills/>
        </div>
        
        @Body
    </main>
</div>


@inject NavigationManager NavManager

@code {
    protected override void OnInitialized()
    {
        var uri = NavManager.Uri;
        if (uri.EndsWith("/WorkTimeCalc"))
        {
            // Redirects to the root of the app
            NavManager.NavigateTo("/", forceLoad: false);
        }
    }
}
