<nav class="navbar bg-body-tertiary">
  <div class="container-sm">
        <a class="navbar-brand secondary-font" href="/">WorkTimeCalc <i class="bi bi-emoji-smile"></i> </a>
  </div>
</nav>


@code {

}
