<ul class="nav nav-pills nav-fill bg-bs-danger" style="font-size: 1.25rem;">
  <li class="nav-item">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
         Zeit
    </NavLink>
  </li>
  <li class="nav-item">
    <NavLink class="nav-link" href="workstart">
        Beginn
    </NavLink>

  </li>
  <li class="nav-item">
    <NavLink class="nav-link" href="workend">
        Ende    
    </NavLink>
  </li>
</ul>

@code {

}
