<ul class="nav nav-pills nav-fill bg-bs-danger" style="font-size: 1.25rem;">
  <li class="nav-item">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <i class="bi bi-clock-history"></i>
         Zeit
    </NavLink>
  </li>
  <li class="nav-item">
    <NavLink class="nav-link" href="workstart">
        <i class="bi bi-sunrise"></i>
        Beginn
    </NavLink>

  </li>
  <li class="nav-item">
    <NavLink class="nav-link" href="workend">
        <i class="bi bi-sunset"></i>
        Ende    
    </NavLink>
  </li>
</ul>

@code {

}
